FRISIA_INSIDE_DB_HOST="localhost"
FRISIA_INSIDE_DB_PORT="3306"
FRISIA_INSIDE_DB_NAME="DATENBANKNAME"
FRISIA_INSIDE_DB_USER="DATENBANKBENUTZER"
FRISIA_INSIDE_DB_PASSWORD="HIER_LOKAL_EINTRAGEN_NICHT_INS_REPO"

FRISIA_INSIDE_ADMIN_EMAIL="admin@frisia-immobilien.de"
FRISIA_INSIDE_ADMIN_NAME="Sebastian"
FRISIA_INSIDE_ADMIN_PASSWORD="HIER_LOKAL_EINTRAGEN_NICHT_INS_REPO"

FRISIA_INSIDE_OPENAI_API_KEY=""
FRISIA_INSIDE_OPENAI_MODEL="gpt-5.4-mini"
FRISIA_INSIDE_PROPSTACK_API_KEY=""
FRISIA_INSIDE_GSC_PROPERTY="https://frisia-immobilien.de/"
FRISIA_INSIDE_WEBSITE_SNAPSHOT_TOKEN=""
